!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Doyouknowyourparty
    %link{:href => "http://fonts.googleapis.com/css?family=Vollkorn:700italic,400", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %script{:src => "//code.jquery.com/ui/1.11.4/jquery-ui.js"}
    = csrf_meta_tags
  %body
    = yield

  %h1 How well do you know your party?

  = form_tag check_promises_path, method: :post, id:"promises" do
    
    .column
      %h2 Labour
      %ul#labour.sortable
    
    .column
      %h2 Conservatives
      %ul#conservative.sortable

    .column
      %h2 Liberal Democrats
      %ul#liberal_democrats.sortable

    .column
      %h2 Green
      %ul#green.sortable

    = submit_tag "Check your knowledge"
