%p#notice= notice
%h1 Listing Promises
%table
  %thead
    %tr
      %th Party
      %th Content
      %th{:colspan => "3"}
  %tbody
    - @promises.each do |promise|
      %tr
        %td= promise.party
        %td= promise.content
        %td= link_to 'Show', promise
        %td= link_to 'Edit', edit_promise_path(promise)
        %td= link_to 'Destroy', promise, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Promise', new_promise_path
